{
  "presets": [
    "latest"
  ]
, "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  , ["babel-plugin-transform-builtin-extend", { "globals": ["Error"] }]
  , "transform-runtime"
  , "transform-remove-strict-mode"
  ]
}
